registry=https://theling-npm.pkg.coding.net/theling-utils/theling-web/
always-auth=true
//theling-npm.pkg.coding.net/theling-utils/theling-web/:username=theling-web-1586188314469
//theling-npm.pkg.coding.net/theling-utils/theling-web/:_password=OWU1ZTc3ZjM3MTRiZDE3YmE1NTVmMWFiMzAyZjliYTgwMDgyMGNlYQ==
//theling-npm.pkg.coding.net/theling-utils/theling-web/:email=16008@theling.cn